<section class="two-way-data-binding">
  <article>
    <h3>Two-way Data Binding</h3>

    <div>
      <input type="text"
        [value]="nome"
        (input)="nome = $event.target.value"
      />

      <input type="text"
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      />

      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade.</p>

      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">
    </div>
  </article>
</section>